<html>
<head>
	<title>Group Chat</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style type="text/css">

    	#chat_box {
    		width: 100%;
    		height: 70%;
    		border: 5px black solid;
    		padding: 10px;
    	}
/*    	#users_box {
    		width: 200px;
    		height: 70%;
    		border: 5px pink solid;
    	}*/
    </style>
    <script type ="text/javascript">
        $(document).ready(function (){
        	var socket = io.connect();
        	var user = prompt("Please enter your name for the group chat.");
        	socket.emit("new_user", {name: user});

        	socket.on("initial_messages", function(data) {
        		for(i in data.messages){
        			$("#chat_box").append("<p>" + data.messages[i] + "</p>");
        		}
        	})

        	socket.on("user_connected", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");
        	})

        	$("#chat_submit").click(function() {
        		var new_message = user + ": " + $("input").val();
        		socket.emit("message_submit", {message: new_message});
        		$("input").val('');
        	})

        	socket.on("new_message", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");	
        	})

        	socket.on("user_disconnected", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");		
        	})
        });
    </script>
</head>
<body>
	<div class="container">
		<h1>Weclome to Group Chat!</h1>
		<div>
			<div id="chat_box" class="col-md-8">
			</div>
<!-- 			<div id="users_box" class="col-md-4">
			</div> -->
		</div>
		<div id="message_section" class="row">
			<div class="col-md-10">
				<input type="text" name="submit" class="form-control">
			</div>
			<div class="col-md-2">
				<button id="chat_submit" class="btn btn-primary">Send Message</button>
			</div>
		</div>
	</div>
</body>
</html>