<html>
<head>
	<title>Group Chat</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>

    <style type="text/css">

    	#chat_box {
    		height: 70%;
    		border: 5px black solid;
    		margin: 0 auto;
    		padding: 10px;
    	}

    	#message_section {
    		
    	}
    </style>
    <script type ="text/javascript">
        $(document).ready(function (){
        	var socket = io.connect();
        	var user = prompt("Please enter your name for the group chat.");
        	socket.emit("new_user", {name: user});

        	socket.on("initial_messages", function(data) {
        		for(i in data.messages){
        			$("#chat_box").append("<p>" + data.messages[i] + "</p>");
        		}
        	})

        	socket.on("user_connected", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");
        	})

        	$("#chat_submit").click(function() {
        		var new_message = user + ": " + $("input").val();
        		socket.emit("message_submit", {message: new_message});
        		$("input").val('');
        	})

        	socket.on("new_message", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");	
        	})

        	socket.on("user_disconnected", function(data) {
        		$("#chat_box").append("<p>" + data.message + "</p>");		
        	})
        });
    </script>
</head>
<body>
	<div id="chat_box">
	</div>
	<div id="message_section">
		<input type="text" name="submit"><button id="chat_submit">Send Message</button>
	</div>
</body>
</html>